<div class="container">
    <div>
        <h2>Modify student :</h2>
    </div>
    <form >
        <div locked class="col-sm-2 col-md-2 col-lg-2">
            <label >ID </label>
            <input readonly type="number" [(ngModel)]="currentStudent.id" name="id" class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label >CIN</label>
                <input type="number" [(ngModel)]="currentStudent.cin" name="cin" class="form-control">
                </div>
            <div class="col-sm-4 col-md-4 col-lg-4" >
                <label >Firstname</label>
                <input type="text"[(ngModel)]= "currentStudent.firstName" name="firstName" class="form-control">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label >Lastname</label>
                <input type="text" [(ngModel)]= "currentStudent.lastName" name="lastName" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label >Bac generation</label>
                <input type="number" [(ngModel)]= "currentStudent.bacGeneration" name="bacGeneration" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="updatedCatId">
                    <option *ngFor="let cat of categorys" [value]="cat.idCat" >
                        {{cat.nameCat}}
                    </option>
                </select>
            </div>
    <div class="mt-2">
        <button type="submit" (click)="updateStudent()" class="btn btn-success">Modifer</button>
    </div>
    </form>
</div>