<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-category 
            [category]= "updatedCat"
            (categoryUpdated)= "categoryUpdated($event)"
            [ajout]="ajout"></app-update-category>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr> 
                    <th>Id</th>
                    <th>Name Category</th> 
                    <th>Description Category</th>
                </tr>
                </thead>
                <tbody *ngFor="let cat of categories">
                <tr>
                <td>{{cat.idCat}}</td>
                <td>{{cat.nameCat}}</td>
                <td>{{cat.descriptionCat}}</td>
                <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="deleteCategory(cat)">Delete</a></td>
                <td><a class="btn btn-success" (click)="updateCat(cat)">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>